<nav class="navbar navbar-default navbar-fixed-bottom">
	<div class="container footer-content">
          <a href="https://mastodon.social/{{ site.mastodon_username }}"><img src="{{ site.url }}/monsterpenguin/images/logo-mastodon.png" alt="" width="35px" height="35px"></a>
          <a href="https://twitter.com/{{ site.twitter_username }}"><img src="{{ site.url }}/monsterpenguin/images/logo-twitter.png" alt="" width="35px" height="35px"></a>
          <a href="https://gitlab.com/{{ site.gitlab_username }}"><img src="{{ site.url }}/monsterpenguin/images/logo-gitlab.png" alt="" width="35px" height="35px"></a>
          <a href="https://archive.org/details/{{ site.archive_username }}"><img src="{{ site.url }}/monsterpenguin/images/logo-archive-org.png" alt="" width="35px" height="35px"></a>
		<a href="https://energy1011.gitlab.io/monsterpenguin/feed.xml"><img src="{{ site.url }}/monsterpenguin/images/logo-rss.png" alt="" width="35px" height="35px"></a>
		<a href="https://www.youtube.com/channel/UCtWNo3AHSh7qsT43j8Delzg"><img src="{{ site.url }}/monsterpenguin/images/logo-youtube.png" alt="" width="40" height="35px"></a>
	</div>
</nav>
