<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta content="{{ site.title }}" property="og:site_name">
	{% if page.title %}
		<meta content="{{ page.title }}" property="og:title">
	{% else %}
		<meta content="{{ site.title }}" property="og:title">
	{% endif %}
	{% if page.title %}
		<meta content="article" property="og:type">
	{% else %}
		<meta content="website" property="og:type">
	{% endif %}
	<meta property="og:description" content="{% if page.description %}{{ page.description | strip_html | truncate: 160 }}{% else %}{{ page.excerpt | strip_html | truncate:160 }}{% endif %}">
	{% if page.image %}
		<meta property="og:image" content="{{ site.url }}/monsterpenguin/assets/{{ page.image  }}">
	{% else %}
		<meta property="og:image" content="{{ site.url }}/monsterpenguin/images/logo-blog.jpg">
	{% endif %}
	{% if page.url %}
		<meta content="{{ site.url }}{{ page.url }}" property="og:url">
	{% endif %}
	{% if page.date %}
		<meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
	{% endif %}
	{% if page.categories %}
		{% for category in page.categories limit:1 %}
			<meta content="{{ category }}" property="article:section">
		{% endfor %}
	{% endif %}
	{% if page.tags %}
		{% for tag in page.tags %}
			<meta content="{{ tag }}" property="article:tag">
		{% endfor %}
	{% endif %}
	<!-- twitter meta tags --!>
	 <meta name="twitter:card" content="summary">
	 <meta name="twitter:site" content="{{ site.twitter_username }}">
	 <meta name="twitter:creator" content="{{ site.twitter_username }}">
	 {% if page.title %}
		 <meta name="twitter:title" content="{{ page.title  }}">
	 {% else %}
		 <meta name="twitter:title" content="{{ site.title  }}">
	 {% endif %}
	 <meta name="twitter:description" content="{% if page.description %}{{ page.description | strip_html | truncate: 160 }}{% else %}{{ page.excerpt | strip_html | truncate:160 }}{% endif %}">
	 {% if page.url %}
		 <meta name="twitter:url" content="{{ site.url  }}{{ page.url  }}">
	 {% endif %}
	 {% if page.image %}
	 	<meta name="twitter:image" content="{{ site.url }}/monsterpenguin/assets/{{ page.image  }}">
	 {% else %}
		<meta name="twitter:image" content="{{ site.url }}/monsterpenguin/images/logo-blog.jpg">
	 {% endif %}

	 <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
	 <!-- scripts and links -->
	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	 <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
	 <link rel="stylesheet" href="{{ "/css/pygment_trac.css" | prepend: site.baseurl }}">
	 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	 <link href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
	 <link href='https://fonts.googleapis.com/css?family=Fira+Mono' rel='stylesheet' type='text/css'>
	 <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
	 <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro:400,200,300,500,600,700,900' rel='stylesheet' type='text/css'>
	 <link href='https://fonts.googleapis.com/css?family=Gentium+Basic:400,700' rel='stylesheet' type='text/css'>
	 <link href='https://fonts.googleapis.com/css?family=Alegreya:400,400italic,700' rel='stylesheet' type='text/css'>
	 <link href='https://fonts.googleapis.com/css?family=Lora:400,400italic,700' rel='stylesheet' type='text/css'>
	 <link href='https://fonts.googleapis.com/css?family=Fira+Sans:400,300,500,700' rel='stylesheet' type='text/css'>
	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	 <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
	 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	 <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-hQpvDQiCJaD2H465dQfA717v7lu5qHWtDbWNPvaTJ0ID5xnPUlVXnKzq7b8YUkbN" crossorigin="anonymous">
	 <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	 <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
</head>
