---
layout: post
title: GNU/Linux y la Libertad
date: 2016-12-29 17:05:39.000000000 -06:00
type: post
published: true
categories: [post]
tags: [linux, misc]
meta:
author: "Energy1011"
image: "gnu-tux.png"
---
Todos los días utilizo algo llamado GNU/Linux desde hace años, para mi se ha convertido en algo tan común, que es inevitable no hablar de ello a manera amplia y más profunda, quizá les sorprendería si les digo que muchos de ustedes posiblemente también utilizan Linux a diario sin estar concientes de esto (lo explicaré enseguida). Posiblemente este sea el artículo más básico y esencial que escriba sobre este Sistema Operativo.</p>
<p style="text-align:justify;">Disfruto mucho utilizar este sistema y es por esa razón que quiero compartir con todos ustedes mi experiencia, no solo como programador si no también como "usuario común" de este sistema. <i>-GNU/Linux un sistema para todos -</i></p>
<p style="text-align:justify;">GNU/Linux en la actualidad es un sistema operativo completo, que pretende ser libre hasta la última línea de código, hasta el último bit. GNU/Linux tiene una historia interesante y única, la historia de este sistema operativo no es propósito principal de este artículo, así que te invito a leer un poco sobre su historia si así lo deseas buscando en internet, en libros o video documentales que existen en la red.</p>
<p style="text-align:justify;">Puedo recomendarte un documental llamado: Código Linux</p>
<p>[youtube https://www.youtube.com/watch?v=cwptTf-64Uo]</p>
<p style="text-align:justify;">Un Sistema Operativo, OS (Operating System, por sus siglas en inglés) es el software que se encarga de hacer que una computadora o dispositivo sea fácilmente utilizable por humanos, podemos decir que el sistema operativo es el software principal más importante, ya que es el responsable de gestionar todas las aplicaciones, perifericos, entre muchas otras cosas.</p>
<p style="text-align:justify;">Un Sistema Operativo se puede simplificar y decir que se conforma de dos partes principales (herramientas y un núcleo kernel).</p>
<p style="text-align:justify;">Las herramientas de un sistema operativo son programas que realizan tareas básicas como pueden ser: un comando para listar archivos (ls), un editor de texto (emacs, vi, nano), enviar correos (mail, evolution, thunderbird), un compilador de código (gcc, g++). Muchas de las herramientas que son pilares de GNU/Linux por excelencia son provenientes del proyecto GNU fundado por Richard Stallman.</p>
<p style="text-align:justify;">El kernel de GNU/Linux ("es el corazón" núcleo del sistema operativo)  el kernel tiene las tareas de gestionar los dispositivos, procesos, red, sistema de archivos, entre otras cosas. El kernel de GNU/Linux se llama Linux, su creador se llama Linus Torvalds, él desarrolló el kernel basándose en algunos principios del sistema Minix que a su vez es un sistema basado en Unix.</p>
<p style="text-align:justify;">Ahora sabemos por qué se llama GNU/Linux  por que (herramientas GNU y un kernel Linux) lo conforman. Hay quienes por simplicidad o comodidad simplemente lo llaman Linux. Richard Stallman, creador del proyecto GNU, pide que al referirse a este sistema operativo, se le llame GNU/Linux sin omitir decir las siglas GNU para no desacreditar el trabajo de este gran proyecto.</p>
<p style="text-align:justify;">Los sistemas operativos como ya sabemos están presentes también en teléfonos móviles, no solo en computadoras. Actualmente existen teléfonos inteligentes, los llamados smartphones que son capaces de correr sistemas operativos y aplicaciones con más funcionalidades que van más allá que solo hablar por teléfono, estos smartphones ahora pueden realizar tareas complicadas con facilidad que años antes eran inalcanzables.</p>
<p style="text-align:justify;">Seguramente has escuchado sobre smartphones que corren el sistema operativo Android, este sistema en su núcleo utiliza el kernel monolítico Linux. Si tienes uno de estos smartphones con Andriod estás utilizando una parte del proyecto GNU/Linux, más especificamente el kernel de Linux ( Como dije: quiza no sabias que tu también usas parte del proyecto GNU/Linux ) este núcleo lo podemos encontrar también en las smart tv, consolas de videojuegos y otros electrodomesticos modernos, su código es libre y puede ser descargado y modificado, aquí su sitio oficial <i>https://www.kernel.org/<br />
</i></p>
<h3 style="text-align:justify;">¿ Qué hace a GNU/Linux distinto ?</h3>
<p style="text-align:justify;">Para que valga la pena utilizar un sistema operativo a veces no basta solo con adaptarse al sistema, para mi punto de vista <i>-Es un error pensar que nosotros debemos adaptarnos al sistema. Mejor hay que hacer que el sistema se adapte a nosotros- </i> Después de todo hemos pagado por adquirir nuestras computadoras y/o smartphones  para usar un sistema a nuestro gusto ¿ qué no ?</p>
<h3 style="text-align:justify;">¿ Eres libre controlando tu computadora o tu computadora te controla  ?</h3>
<p style="text-align:justify;"><i>Ok, ahora entramos con preguntas más serias y comenzamos a hablar de libertad, no solo de sistemas operativos.</i></p>
<p style="text-align:justify;">Cuando hablamos de libertad en cualquier ámbito de la vida, este parece ser un tema interesante que todo el mundo defiende, desde tiempos inmemorables la humanidad ha luchado por adquirir la libertad  ¿ a quien no le gusta la libertad  ?</p>
<p style="text-align:justify;">Dentro de la era tecnológica el tema de la libertad está latente y juega un papel importante. Es increible, el tema de la libertad en la tecnología parece ser casi invisible para muchos, incluso para ingenieros a fines, mucha gente no lo sabe pero podemos carecer de libertad al usar un programa o sistema operativo.</p>
<h3 style="text-align:justify;">¿ Cuando adquirimos o usamos una computadora o smartphone, pensamos en nuestra libertad ?</h3>
<p style="text-align:justify;">Cuando compramos un dispositivo, posiblemente lo que se puede creer y esperar al comprarlo sería :</p>
<ul>
<li style="text-align:justify;"> Que funcione bien, para poder realizar tareas sin complicaciones.</li>
<li style="text-align:justify;"> Poder usarlo y hacer lo que quiera cuando yo quiera, ya que soy el dueño de este dispositivo.</li>
<li style="text-align:justify;"> Conocer todas y cada una sus funciones, para sacarle el mayor provecho.</li>
<li style="text-align:justify;"> Tener la posibilidad de modificarlo, adaptarlo y mejorarlo si así lo deseo.</li>
<li style="text-align:justify;"> Por último y no por menos importante tener la oportunidad de prestarlo y compartirlo con otras personas.</li>
</ul>
<p style="text-align:justify;">Esas pueden ser algunas de las suposiciones, pueden variar dependiendo de cada persona claro. Te invito a que pienses en lo anterior y realices la siguiente analogía: piensa por ejemplo en una 'casa' en vez de tecnología y programas, aplicando tus expectativas al comprar una casa, te puedo garantizar que te gustaría: ser el único dueño titular puesto que has pagado por ella, conocer todas y cada una de sus habitaciones y funciones, ser libre  de modificarla  ¿ y por qué no ? tener la libertad de invitar a otros a disfrutar de tu casa,  a<i>l fin y al cabo es tu casa, has pagado por ella.</i></p>
<p style="text-align:justify;">A menudo se compara y se explica que construir software es como construir una casa o elaborar un rico pastel en la cocina, es necesario tener unos planos o la receta para nuestro proyecto.</p>
<h3 style="text-align:justify;">¿ Cómo se construyen los programas, cómo se construye el software ?</h3>
<p style="text-align:justify;">Para construir software es necesario escribir código en un lenguaje de programación, a este código lo llamare 'receta' en ocaciones en este escrito.</p>
<p style="text-align:justify;">La receta o código que escriben los programadores son las instrucciones necesarias para que los programas de computadoras puedan construirse, al igual que al cocinar un pastel seguimos al pie de la letra la receta para que nos quede delicioso.</p>
<p style="text-align:justify;">El siguiente ejemplo es un código sencillo en un lenguaje de programación llamado python, esta pequeña 'receta' nos servirá para mostrar un mensaje en pantalla que nos salude :</p>
<p style="text-align:justify;"><code>#!/bin/python<br />
print ("¡ Hola amigos !")<br />
# Fin del programa</code></p>
<p style="text-align:justify;"><code></code>Este pequeño fragmento de código que sirve a manera de ejemplo pueden ejecutarlo y modificarlo sin problemas, puesto que les he compartido el código necesario. Cuando se desea compartir el código bajo alguna licencia libre, por ejemplo la GPL, es necesario agregarla en la cabecera de tu código, he emitido esta licencia, ya que esto es solo un ejemplo.</p>
<p>Enlace recomendado: https://www.gnu.org/licenses/licenses.es.html</p>
<p style="text-align:justify;">En cierto momento de la historia, cuando el software comenzó a hacerse popular y surgieron más personas interesadas en escribir código, muchos programadores dejaron de compartir las recetas de sus programas y las hicieron privadas, ya no compartían el código, solo los ejecutables, esto fue un problema para muchos otros programadores, ya que no contaban con el código y la autorización necesaria para mejorar los programas existentes o utilizar parte de esos códigos para crear nuevos programas o simplemente aprender de ellos.</p>
<p style="text-align:justify;">Richard Stallman que es reconocido como un programador brillante desde sus años de estudiante en el MIT,  ya se había percatado de esto, antes de crear el proyecto GNU, se dio cuenta que era necesario hacer un cambio en la manera de pensar de las personas y  en las libertades que el software debía tener, para que todos pudiéramos hacer informática de una manera libre. Richard decidió publicar un manifiesto y creó la FSF (Free Software Foundation) y la GPL (GNU Public License) con las 4 libertades básicas del software libre, que son las siguientes:</p>
<ul style="text-align:justify;">
<li>La libertad de ejecutar el programa como se desea, con cualquier propósito (libertad 0).</li>
<li>La libertad de estudiar cómo funciona el programa, y cambiarlo para que haga lo que usted quiera (libertad 1). El acceso al código fuente es una condición necesaria para ello.</li>
<li>La libertad de redistribuir copias para ayudar a su prójimo (libertad 2).</li>
<li>La libertad de distribuir copias de sus versiones modificadas a terceros (libertad 3). Esto le permite ofrecer a toda la comunidad la oportunidad de beneficiarse de las modificaciones. El acceso al código fuente es una condición necesaria para ello.Enlace recomendado: https://www.gnu.org/philosophy/free-sw.es.html</li>
</ul>
<p style="text-align:justify;"><i>-El proyecto GNU/Linux fue definido para gozar de estas 4 libertades, aplicando la filosofía del software libre-</i></p>
<p style="text-align:justify;">Por desgracia, no todos los sistemas gozan de una filosofía de software libre, otros sistemas operativos como el de las ventanas y el de la manzanita mordida no otorgan estas libertades al usuario, complicando las cosas para hacer modificaciones sobre ellos, ya que son de código privativo.</p>
<p style="text-align:justify;">Lamentablemente mucha gente está acostumbrada a adquirir de empresas monopolistas sistemas y software  preinstalados que son privativos al comprar computadoras, sin darse cuenta que existe la opción a elegir el sistema que desea comprar y utilizar, una posible razón es que mucha gente no se entera siquiera que existen sistemas libres o código libre. Es por lo anterior que he decidido colaborar difundiendo el software libre cada que se me presenta la oportunidad y escribiendo este articulo.</p>
<p style="text-align:justify;">En este punto posiblemente te preguntas <strong>¿ cómo ganan dinero los programadores o empresas que se dedican al software libre, si comparten su receta/código de manera 'free' de los programas que construyen ?</strong></p>
<p style="text-align:justify;">Antes que nada queda aclarar que la palabra 'free' (en Inglés quiere decir gratis y libre). En español no existe este problema y al referirnos al software que goza de todas las libertades hay que llamarlo Software Libre, el siguiente enlace tiene información acerca de la ambiguedad, y además habla de los movientos del open source y free software por separado, mencionando que algunas empresas se aprovechan de la palabra open para referirse a que el código es visible pero carece en algunos casos de alguna de las otras libertades que el software libre si garantiza.</p>
<p style="text-align:left;">Enlace recomendado: https://www.gnu.org/philosophy/free-software-for-freedom.es.html</p>
<p style="text-align:justify;">Para ganar dinero con el software libre existen modelos de negocio eficientes, podemos ganar mucho dinero con software libre, sin afectar la libertad de las personas. ¿ cómo ? por poner un ejemplo: construyendo software libre y vendiendo el soporte o programando nuevos módulos o mejoras en el software.</p>
<p style="text-align:justify;">Recordemos que los programadores y todas las personas que hacen que el software funcione, tienen todo el derecho de ganar dinero por cada minuto de su trabajo y que el pago por eso no está peleado con el software libre, al contrario, <strong>no hay que confundir el que un programa sea libre a que sea gratis, son cosas muy distintas</strong>, hacer negocio con software libre puede ser una excelente oportunidad.</p>
<p>Enlace recomendado:  https://www.gnu.org/philosophy/selling.es.html</p>
<p style="text-align:justify;">Aun así muchos desarrolladores y/o empresarios creen que no es posible hacer negocio con el software libre, ya que están atrapados en el modelo privativo, pero a todos ustedes los invito a  investigar más sobre la variedad de modelos existentes para hacer negocio con el software libre.</p>
<p style="text-align:justify;">Para muchos expertos el modelo privativo existente es considerado arcaico y trillado, ya que se pueden utilizar modelos de software libre de negocio distintos. Hay quienes fueron pioneros en el negocio del software libre y existen bastantes casos de éxito de empresas grandes tales como Red Hat que se han beneficiado del software libre, convirtiéndose en una empresa de ingresos exorbitantes.</p>
<p style="text-align:justify;">Empresas como microsoft comienzan a liberar código recientemente en proyectos que no fueron concebidos libres.</p>
<p style="text-align:justify;"><strong>¿Por qué está pasando esto? ¿ a caso estas empresas ven ventajas en el código libre ?</strong></p>
<p style="text-align:justify;">Así es, las ventajas del software libre y el open source código son más atractivas hoy en día, liberar código se vuelve una opción viable, incluso para software que durante mucho tiempo ha sido privativo.</p>
<p style="text-align:justify;">Prueba de ello son las últimas liberaciones del core .net  y la powershell de microsoft.</p>
<p style="text-align:justify;"><strong>¿ Parece un acontecimiento increíble para los que ya conocemos a este tipo de empresas ?</strong></p>
<p style="text-align:left;">https://github.com/Microsoft/dotnet</p>
<p style="text-align:left;">https://github.com/powershell</p>
<p style="text-align:justify;">En lo particular no me sorprende este tipo de actos, su lenguaje y la powershell están lejos de tener la talla de lenguajes libres o de cualquiera de las shells que tienen años utilizándose en sistemas Unix-like como lo es GNU/Linux, que soporta shells : tcsh, bash, zch, ksh. <strong>¿ les parece mentira este tipo de actos ? </strong> micro$oft ha lanzado una actualización en el sistema windows 10 anniversary con la posibilidad de ejecutar un entorno bash shell en su sistema, como dije: no me sorprende que quieran incluir la posibilidad de correr software libre y open source dentro de su sistema. El código más colaborativo demuestra ser más flexible y de mayor velocidad de desarrollo, aclaro que la critica anterior a microsoft es solo una opinion muy personal.</p>
<p>Enlace recomendado: http://www.windowscentral.com/how-install-bash-shell-command-line-windows-10</p>


<p style="text-align:justify;">Hay que tener en cuenta que micro$soft lo que hace es navegar con bandera de open source cuando su definición es distinta a software libre. <b>Tengamos en cuenta que todos los productos desarrollados en Software Libre así como sus derivados siempre deben ser libres, a diferencia de Open Source</b> y micro$oft se aprovecha de esto y de otras diferencias entre software libre y open source.</p>

<p>Recomiento el siguiente enlace: </p>
<h3 style="text-align:justify;"><b>El software libre y sus ventajas:</b></h3>
<p style="text-align:justify;">Las ventajas del software libre cada día son más reconocidas y las podemos resumir en:</p>
<p style="text-align:justify;">0- El software libre comunmente tambien es gratuito y no hay que pagar por él, se utilizan otros modelos de negocio.</p>
<p style="text-align:justify;">1- Los ciclos de liberación de nuevo software son más rápidos.</p>
<p style="text-align:justify;">2- Los Bugs (fallos) en los sistemas son encontrados y reparados de una manera rápida <i>«Dado un número suficientemente elevado de ojos (multitud de programadores alrededor del mundo sobre el código libre), todos los errores se vuelven obvios.» </i>Fue bautizada por Eric S. Raymond como la <b>ley de Linus</b>.</p>
<p style="text-align:justify;"><i>3-La calidad del software libre es muy buena y grandes empresas contribuyen al desarrollo de software libre.</i></p>
<p style="text-align:justify;">Si gustas profundizar más, te invito a leer <strong>La catedral y el bazar de Eric S. Raymond</strong> es una excelente obra para conocer las diferencias del software privativo y el software libre.</p>
<p>Enlace recomendado: http://biblioweb.sindominio.net/telematica/catedral.html</p>
<h3 style="text-align:justify;"><b>Mi experiencia con GNU/Linux</b></h3>
<p style="text-align:justify;">Desde que era niño me apasionaron las computadoras, llegue a ellas como cualquier otro niño, por la curiosidad y los videojuegos. Instalar nuevos programas, jugar videojuegos, navegar por internet, descargar y coleccionar programas desde entonces ya era un divertido pasatiempo. Después de utilizar la computadora para estas tareas, me inicie en el mundo de la programación, no me conforme con ejecutar los programas de otros programadores, yo quería hacer los mios.</p>
<p style="text-align:justify;">Todo lo que conocía en aquel entonces era windows como sistema operativo, "el sistema que todos tenían". Para esas fechas ya existía GNU/Linux, me entere que existia este sistema utilizado por gurús de la informática, los llamados hackers, incluso llegué a ver artículos en revistas sobre este sistema, pero era algo difícil instalar un GNU/Linux en mi computadora y mis conocimientos en informática y del idioma inglés no ayudaban lo suficiente en aquellos días para lograrlo, (ahora es dintinto, el acceso a internet está en todas partes y existen gran cantidad de foros e información al respecto en la red).</p>
<p style="text-align:justify;">Seguí en windows por un tiempo hasta que termine cansado de tener que formatear mi maquina cada 2 meses a causa de virus o porque el sistema comenzaba a estar lento y mi navegador de internet se llenaba de toolbars. A tener que esperar las largas instalaciones de visual studio u office. Y como olvidar las eternas instalaciones que terminaban fallidas de los service packs, actualizaciones forzadas al entrar al sistema o al apagar el equipo (aún existen estas actualizaciones forzadas, para mi esto es un maltrato al usuario), que decir de los pantallazos azules y reinicios porque el sistema se quedaba colgado. Me canse de buscar seriales y cracks para cada software que quería conocer y probar, instalar variedad de antivirus para ver si este si terminaba funcionando bien y consumiendo menos recursos que el anterior, etc, etc.</p>
<p style="text-align:justify;">Sí, lo admito, era un usuario muy descuidado o poco prudente quizá, pero con el tiempo me fui afinando para evitar llenarme de problemas en aquel sistema. Aun así me termine cansando de no sentirme agusto en aquel sistema de las ventanas, en pocas palabras: <em>de no sentirme libre y con el control de mi computadora.</em> Sentía que mi computadora no la controlaba yo, que no tenia la libertad suficiente.</p>
<p style="text-align:justify;">Cuando por fin logré tener un sistema GNU/Linux instalado, decidí darme la oportunidad de conocer GNU/Linux a fondo.</p>
<p style="text-align:justify;">Hasta el día de hoy puedo decir que:</p>
<p style="text-align:justify;"><i>- GNU/Linux ha sido un viaje extraordinario lleno de conocimiento -</i></p>
<p style="text-align:justify;">La primera vez que use GNU/Linux fue facil adaptarme al entorno de escritorio actualmente los entornos para este sistema son muy vistosos y fáciles de usar</p>
<p><em>imagen de un KDE Desktop:</em><img class="alignnone size-full wp-image-727" src="{{ site.baseurl }}/assets/img1.png" alt="img1" width="1366" height="768" /></p>
<p style="text-align:justify;">Mi primer instalación de un programa en GNU/Linux fue Gimp,  me tope con algo distinto: " No era necesario preocuparme por pagar por aquel programa o conseguir ilegalmente un crack o serial para ver cómo era ese programa" <strong><i>¿ a quien no le gusta probar un programa antes de pagarlo ?</i></strong></p>
<p style="text-align:justify;">Para instalar Gimp simplemente abrí la terminal y escribí lo siguiente:</p>
<p style="text-align:justify;"><i>apt-get install gimp</i></p>
<p style="text-align:justify;"><i>Presione la tecla 'y' de 'yes' cuando me preguntó que si deseaba instalarlo y listo, fue todo lo necesario para obtener gratis un programa sin malware ( sin anuncios molestos y sin remordimientos ) y que además es posible  ver su código, modificarlo y compilarlo.</i></p>
<p style="text-align:justify;">GNU/Linux busca ser más amigable para cualquier usuario y al pasar de los años he visto cambios importantes gracias al trabajo de mucha gente que está detrás de las distribuciones de GNU/Linux. Este sistema operativo no solo nos permite instalar programas libres con facilidad desde la terminal, ahora existen centros de software en GNU/Linux que nos permiten instalar programas con unos cuantos clic, para aquellos que la línea de comandos les parece engorrosa.</p>
<p style="text-align:justify;"><img class="alignnone size-full wp-image-728" src="{{ site.baseurl }}/assets/img2.png" alt="img2" width="1200" height="828" /></p>
<h3 style="text-align:justify;">GNU/Linux tiene diferentes sabores y colores</h3>
<p style="text-align:justify;">Entre las variedades de GNU/Linux se puede elegir entre un montón de sabores (Distribuciones GNU/Linux) y entornos de escritorio.</p>
<p style="text-align:justify;">Usa la distribución que más te guste:</p>
<p style="text-align:justify;"><img class="alignnone size-full wp-image-729" src="{{ site.baseurl }}/assets/img3.png" alt="img3" width="900" height="326" /></p>
<p style="text-align:left;">Enlace recomendado: https://distrowatch.com/?language=ES<br />
Enlace recomendado: https://victorhckinthefreeworld.com/2016/01/26/los-mejores-entornos-de-escritorio-de-linux-para-el-2016/</p>
<p>Sí, también elige el entorno de escritorio y/o gestor de ventanas que más vaya contigo:</p>
<p style="text-align:justify;"><img class="alignnone size-full wp-image-730" src="{{ site.baseurl }}/assets/img4.png" alt="img4" width="1468" height="256" /></p>
<p style="text-align:justify;">A GNU/Linux ¡ Podemos modificarlo aún más ! colores, iconos, shortcuts y sin fin de cosas. Esa es otra de las primeras cosas que me atraparon de GNU/Linux , -<i>El sistema hace y se ve como yo quiero- ,</i> esto no es posible en otros sistemas conocidos como el de la manzana mordida, ahí tienes un estilo de ventanas y duramente podrás conseguir que se vean de otro color si ya te ha enfadado la misma tendencia que han usado por décadas a gusto del fabricante y no del tuyo.</p>
<p style="text-align:justify;">Como programador, GNU/Linux ha sido el mejor sistema para programar que he utilizado, este sistema tiene librerías, compiladores, intérpretes y una poderosa shell. Cualquier herramienta de desarrollo puedo instalarla en cuestión de pocos minutos.</p>
<p style="text-align:justify;">He recomendado utilizar GNU/Linux a mucha gente, unos se han quedado y otros no, ¿ por qué pasa eso ?,  l<i>os que han dejado de usar GNU/Linux afirman que no cubre todas sus necesidades como usuarios o les parece difícil.</i></p>
<p style="text-align:justify;">Para tratar de entender lo anterior primero quise definir cuales eran los puntos más importantes para mi en un sistema operativo:</p>
<p style="text-align:justify;">0- Estabilidad.</p>
<p style="text-align:justify;">1- Rendimiento.</p>
<p style="text-align:justify;">2- Seguridad.</p>
<p style="text-align:justify;">3- Simplicidad al usarlo.</p>
<p style="text-align:justify;">4- Precio razonable en relación con la calidad.</p>
<p style="text-align:justify;">5- Gran variedad de aplicaciones y drivers.</p>
<p style="text-align:justify;">6- Libertad.</p>
<p style="text-align:justify;">En lo personal GNU/Linux cubre todos los puntos anteriores sin problemas, el punto 3 por ejemplo no es un problema, muchas distribuciones de GNU/Linux están orientadas al uso doméstico para cualquier tipo de usuario no experimentado y la instalación del sistema cada día es más sencilla. Lamentablemente existen fabricantes de mother boards que complican la instalación de GNU/Linux con "trucos de mercado " haciendonos creer que tenemos más seguridad, cuando su objetivo principal es el mercado" hablo del famoso Secure Boot, mi recomendación es simplemente evitar comprar marcas de computadoras que apoyen este tipo de acciones, ya sabemos todos que el sistema de las ventanas no fue creado para convivir con otros sistemas en la misma computadora, complicando aveces un poco las cosas, GNU/Linux en cambio posee un GRUB que permite elegir que sistema arrancar, esto hace posible tener un sistema windows y un GNU/Linux en el mismo ordenador.</p>
<p style="text-align:left;">Enlace recomendado: https://www.softzone.es/2016/07/31/secure-boot-desactivarlo/<br />
Enlace recomendado: http://www.linuxadictos.com/los-equipos-lenovo-ya-compatibles-las-distribuciones-gnulinux.html</p>
<p style="text-align:justify;">El punto 5 en el cual haré un paréntesis para hablar sobre esto y exponer casos concretos, quiero mencionar que construir software especializado no es una tarea sencilla, a los programadores de software libre les ha llevado algo de tiempo poder cubrir la demanda, por eso es una buena idea apoyar a los proyectos de software libre, por ejemplo: diseño gráfico, edición de video, arquitectura, videojuegos, entre muchos otros y por mencionar algunos.</p>
<h3 style="text-align:justify;">Voy a exponer  2 casos a manera de ejemplo</h3>
<h3 style="text-align:justify;"><strong>Caso 1:</strong></h3>
<p style="text-align:justify;">Hay una tendencia enorme por ejemplo a que los diseñadores gráficos solo utilicen y aprendan a usar la paquetería de adobe en sus escuelas, photoshop, illustrator, 3dmax, autocad, ya que estos programas  no se pueden instalar de manera nativa en sistemas GNU/Linux.</p>
<p style="text-align:justify;">Solución: Existe software para GNU/Linux como GIMP, Blender, Krita que son software avanzado para diseñadores 2D y 3D que incluso son multiplataforma y podemos usarlos en windows o mac, te invito a conocerlos si te gusta el diseño y quieres ahorrar dinero en licencias.</p>
<p><img class="alignnone wp-image-731" src="{{ site.baseurl }}/assets/img61.png?w=680" alt="img61" width="676" height="371" /></p>
<p style="text-align:justify;">Enlace recomendado: https://krita.org/es/</p>
<p style="text-align:justify;">Pienso que los programas<strong> privativos</strong> de diseño y ofimática perjudican al softtware libre, ya que sus formatos de archivos generados no están estandarizados y su documentación de como funcionan es casi nula o no es publica, esto complica crear software libre que maneje esos formatos, limitando la posibilidad de crear programas alternativos compatibles a estos. La paqueteria de ofimática de microsoft presenta el mismo problema, por eso el clasico comentario: " Mis diapositivas y documentos de word no se ven igual en LibreOffice ".</p>
<p style="text-align:justify;"><strong>La solución es simple para todos:</strong> usemos programas como LibreOffice, Blender, Krita que generen formatos libres y estandares que esten bien documentados, LibreOffice es multiplataforma, se puede usar en windows y mac también.</p>
<p style="text-align:justify;">Enlace recomendado: https://es.libreoffice.org/<br />
Enlace recomendado: https://www.blender.org/</p>
<h3 style="text-align:justify;"><strong>Caso 2:</strong></h3>
<p style="text-align:justify;">Muchos Gamers prefieren utilizar otros sistemas para jugar videojuegos, ya que sus videojuegos favoritos no han sido portados a GNU/Linux o porque los drivers libres no tienen el mismo rendimiento en sistemas GNU/Linux. Este panorama ha ido cambiando, un ejemplo es Steam en linux y el SteamOS, al 01 de abril del 2016 la plataforma de steam ya cuenta con más de 2.000 juegos para GNU/Linux y cada día existe más soporte de drivers para tarjetas gráficas en las distribuciones.</p>
<p><img class="alignnone size-full wp-image-732" src="{{ site.baseurl }}/assets/img7.jpg" alt="img7" width="800" height="450" /></p>
<p style="text-align:justify;">Podemos buscar programas alternativos a los "populares" en <i>https://www.osalt.com/</i> o simplemente en algun motor de busqueda escribiendo el nombre del programa y enseguida 'open source alternative' o 'free software alternative'.</p>
<p style="text-align:justify;">Podríamos seguir exponiendo muchos casos como los anteriores pero la buena noticia es que en GNU/Linux casi todo tiene una alternativa. Conozco mucha gente que los casos anteriores son pretextos para no usar GNU/Linux por que simplemente les da pereza investigar o aprender más, a esa gente les digo: <i>Si después de darle una verdadera oportunidad a GNU/Linux, no te convence con todos los beneficios y alternativas que existen, entonces GNU/Linux posiblemente no sea para ti.<br />
</i></p>
<h3 style="text-align:justify;">La Comunidad GNU/Linux</h3>
<p style="text-align:justify;">Quiero mencionar que lo que hace a GNU/Linux un gran sistema es sin duda su comunidad, siempre hay gente dispuesta a ayudar en los foros y canales para cualquier problema o duda que deseamos resolver.</p>
<p style="text-align:justify;">Hay personas que dicen que el software libre no tiene garantía de soporte, pero soy testigo de que la comunidad y los proyectos libres han tenido mucho mejor respuesta y soporte a diferencia de empresas a las cuales se les pagan mucho dinero por sus licencias, donde terminan queriendo solucionarte el problema vendiendote "su versión más nueva" que fue diseñada para no seguir estándares puesto que ese software solo pueden modificarlo ellos por ser privativo.</p>
<p style="text-align:justify;"><em>Cuando me preguntan:</em> <strong>¿ Por qué usas GNU/Linux?</strong> a manera compacta puedo responder: <i>Me queda claro que es un sistema en el que puedo hacer casi cualquier cosa, es el sistema que más libertad me ha ofrecido.</i></p>
<p style="text-align:justify;">La seguridad es un factor importante también, GNU/Linux<i> tiene fama de ser un sistema seguro, es un sistema utilizado para servidores por excelencia,  realmente la seguridad que nos ofrece es muy buena,  s</i>abemos que<i> -No existe un sistema 100 % seguro y como dirían algunos expertos en seguridad, todo sistema es vulnerable, nada es totalmente seguro mientras exista el factor humano de por medio- </i>GNU/Linux es un sistema en el cual me siento más seguro y en el que las fallas de seguridad reportadas son notificadas y reparadas a gran velocidad<i> - </i><em>Finalmente poniendo todo en una balanza, me quedo con GNU/</em><i>Linux -<br />
</i></p>
<p style="text-align:justify;">En estas épocas, las computadoras de escritorio son utilizadas mayormente por personal de oficina, estudiantes de ingenierías, programadores y diseñadores. La variedad de usuarios y campos de la informática sigue creciendo y esto va cambiando. Muchas de las tareas que realizabamos en nuestras computadoras han sido desplazadas a teléfonos móviles y tablets cubriendo estos gran porcentaje de utilización, GNU/Linux siempre ha evolucionado y nos ha ido sorprendiendo, por eso ahora comprendemos por qué Linux ha pasado de estar en ordenadores y servidores hasta alcanzar estar dentro de nuestros bolsillos en nuestros smartphones y electrodomésticos.</p>
<p style="text-align:justify;">Linux está en muchas partes pero lo que realmente importa es que <strong>seamos conscientes de nuestra libertad</strong>, el código abierto ha jugado un papel fundamental en proyectos como este, para mi la libertad debe de llevarse con cuidado y tomarse en cuenta todo el tiempo. Siempre han existido personas que desean privarnos de nuestra libertad a cambio del poder y el control. Seamos libres, compartamos el conocimiento, usemos GNU/Linux, no me queda duda que para todos nosotros GNU/Linux es un regalo de los guerreros cibernéticos defensores de la  libertad.</p>
<p style="text-align:justify;"><strong>Gracias a toda la comunidad GNU/Linux, Gracias a todos a los que comparten y respetan la libertad.</strong></p>
