<!DOCTYPE html>
<html>
{% include head.html %}
{% if jekyll.environment == 'production' %}
{% endif %}
	<body>
		{% include header.html %}
		<section>
			{{content}}
		</section>

		{% include footer.html %}
	</body>
</html>
